

  
  .swipItem .imgBox {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;

    margin-top: 10px;
  }
  .swipItem .imgBox img {
    width: 100%;
    height: 100%;
    display: block;

  }
  .detail {
    margin: 1rem 0;
  }
  